@charset "UTF-8";

/* YUI Reset CSS */
/*
body,div,dl,dt,dd,ul,ol,li,h1,h2,h3,h4,h5,h6,pre,form,fieldset,input,textarea,p,blockquote,th,td { 
	margin:0;
	padding:0;
}
table {
	border-collapse:collapse;
	border-spacing:0;
}
fieldset,img { 
	border:0;
}
address,caption,cite,code,dfn,em,strong,th,var {
	font-style:normal;
	font-weight:normal;
}
ol,ul {
	list-style:none;
}
caption,th {
	text-align:left;
}
h1,h2,h3,h4,h5,h6 {
	font-size:100%;
	font-weight:normal;
}
q:before,q:after {
	content:'';
}
abbr,acronym { border:0;
}
*/
/* Actual CSS */

body {
	background-color: #cccccc;
	font-size: 63%;
	font-family: Verdana, Arial, sans-serif;
}

div#container {
	position: fixed;
	left: 50%;
	margin: 0 0 0 -200px;
}

form fieldset {
	width: 400px;
}

form legend, form input[type="button"], form input[type="reset"] {
	font-weight: bold;
	font-size: 1.6em;
}

form label {
	display: block;
	font-size: 1.2em;
	width: 200px;
	clear: left;
	float: left;
}

form input[type="range"] {
	clear: right;
	width: 200px;
	height: 10px;
	float: left;
}
